/* write your override styles here */
#wall .tag-1 {
    display: none;
}

#tag-2 {
    position: fixed;
    border-top-left-radius: 5px;
    left: 10px;
    width: 970px;
    height: 620px;
}

#tag-3 {
    position: fixed;
    border-top-left-radius: 2px;
    left: 3px;
    width: 975px;
    height: 621px;
}
